.js-billet 
{
	margin-top : 10px;
	padding : 10px;
	background-color: #b7d7e8;
}

.supprimer-billet
{
	 text-align: right ;
	 margin-top: -5px;
}

.js-billet-add
{
	 margin-top: 10px;
}

.reserver
{
	/*padding : 20px;
	width : 100%;*/
}