{% extends 'base.html.twig' %}

{% form_theme formCommande  'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
    	{% if modifyMode %}
     		Modifier votre commande
     	{% else %}
     		Réserver vos billets pour le musée
     	{% endif %}
    </h1>

    {{ form_start(formCommande, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(formCommande.dateVisite) }}

    <button type="submit" class="btn btn-success">
     	{% if modifyMode %}
     		Enregistrer la modification de la commande
     	{% else %}
     	Réserver
     	{% endif %}
     </button>

    {{ form_end(formCommande) }}



{% endblock %}