{% extends 'base.html.twig' %}

{% block body %}
<br>
<h3>Merci de votre visite !<h3>
<h5>Un e-mail de confirmation de votre commande vous a été envoyé.</h5>

<img src="{{ asset('images/mona_lisa.jpg') }}">

<h3>A bientôt !</h3>

{% endblock %}