{% extends 'base.html.twig' %}

{% block body %}

    <h1>Le musée du Louvre à Paris</h1>  
    <img src="{{ asset('images/louvre.jpg') }}">
   
    <div>
    <br>
    <a href="{{ path('billetterie') }}">
	    <button type="button" class="btn btn-primary js-billet-add">	
					Achetez vos billets		
		</button>
	</a>
	<br>
	</div>  

{% endblock %}