{% extends 'base.html.twig' %}

{% block body %}

    <h1>Salut le récapitulatif de commande</h1>

    <table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Nom</th>
	      <th scope="col">Prénom</th>
	      <th scope="col">Type de billet</th>
	      <th scope="col">Prix</th>
	      
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="table-active">
	      <th scope="row">Active</th>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	  </tbody>
	</table> 


    <div>
        Vous êtes sur le point de payer votre réservation 
            <form action="{{ path('order_checkout') }}" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_DMiADShJSyoZEBEHabm71UC1"
                                data-amount="99500"
                                data-name="Paiemen resas Louvre"
                                data-description="Widget"
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-currency="eur">
                        </script>
            </form>
    </div>
{% endblock %}




